






/* **********************
** Task List CSS
********************** */

.task-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr.task-hr {
    margin: 18px auto;
    width: 60%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
}

.task-breakdown {
    width: 100%;
}

.complete {
    margin-top: 2px;
    margin-right: 8px;
}

.task-main {
    display: flex;
    margin-bottom: 4px;
    justify-content: space-between;
}

.task-due::before {
    content:"Due Date:";
    font-size: .6em;
    font-weight: bold;
    margin-right: 12px;
}

.task-submenu {
    display: flex;
    font-size: .60em;
    justify-content: space-between;
    flex-direction: row;
}

.task-client {
    font-size: 1.3em;
}

.priority {
    display: flex;
}

.task-urgent {
    margin-right: 18px;
}

.task-urgent::before {
    content:"Urgency:";
}

.task-importance::before {
    content:"Importance:";
}

.task-urgent::before, .task-importance::before {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 6px;
}

.matrix {
    padding-left: 18px;
    padding-right: 8px;
}

.urgent, .notUrgent {
    border: 1px solid darkslategrey;
    width: 12px;
    height: 12px;
}

.import, .notImport {
    display: flex;
    flex-direction: row;
}

.quad1 .import .urgent, .quad2 .import .notUrgent, .quad3 .notImport .urgent, .quad4 .notImport .notUrgent {
    background-color: green;
}

/* **********************
** Client List
********************** */

h3.client-name {
    margin: 12px 0px;
}

ol.project-list li:not(:first-child) {
    margin-top: 15px;
}

.client-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.project-budget::before {
    content: "Budget\00000a";
    white-space: pre;
}

.project-billed::before {
    content: "Billed\00000a";
    white-space: pre;
}

.project-remaining::before {
    content: "Remaining\00000a";
    white-space: pre;
}

.project-budget, .project-billed, .project-remaining {
    width: 85px;

    font-size: .80em;
}

.project-budget::before, .project-billed::before, .project-remaining::before {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 6px;
    font-size: .60em;
}

ol {
    list-style-type: upper-roman;
}


/* **********************
** Responsive
********************** */

@media screen and (max-width: 745px) {
    .task-submenu {
        flex-direction: column;
    }

    .task-importance {
        margin: 0px 0px;
    }

    .priority {
        flex-direction: column;
    }
    .dots, .dots::before{
        display: hidden;
    }
    /* .client-project {
        flex-direction: column;
    } */

}
