body {
    background-color: #f8f9fa;
    font-family: 'Mulish', sans-serif;
}

h2 {
    margin: 12px 0px;
    font-size: 20px;
}

.main-nav img {
    float: left;
    width: 100px;
    height: 100px;
}

.main-nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-image: linear-gradient(to left, #2c3e50, #4ca1af);
    color: white;
    border-radius: 3px;
    padding: 0em 1em;
    font-family: sans-serif;
}

.main-nav .cmp-header {
    width: 80%;
}

.main-nav .navOptions {
    list-style-type: none;
    padding: 0 15px;
    margin: 0;
    display: flex;
    flex: 3;
    height: 100%;
}

.main-nav .navItem {
    margin-right: 1em;
    font-size: 1.25em;

    padding: 0 15px;
    margin: 0;

    display: flex;

    font-size: 1.25em;
    width: 100px;
    align-items: center;
}

.main-nav .navSelected {
    background: rgb(60,113,129);
}

.main-nav a, a:link, a:visited {
    text-decoration: none;
    color: white;
}

#timer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-width: 400px;
}

#timerTask {
    font-size: 1.25em;
    padding: 10px 0;

}

#runningClock {
    display: flex;
    align-items: baseline;
}


#runningClock .timerInterval {
    width: 60px;
    font-size: .75em;
    vertical-align: middle;
}

#runningClock .timerClock {
    width: 125px;
}

.splitColumn-100 {
    /* width: calc(100% - 3.5em); */
    width: 100%;
}

.splitColumn-80 {
    width: calc(80% - 6.0em);
}

.splitColumn-60 {
    width: calc(60% - 6.0em);
}

.splitColumn-50 {
    width: calc(50% - 6.0em);
}

.splitColumn-40 {
    width: calc(40% - 6.0em);
}

.splitColumn-20 {
    width: calc(20% - 6.0em);
}


@media screen and (max-width: 575px) {
    .main-nav {
        flex-direction: column;
    }

    .main-nav ul {
        flex-direction: row;
        /* Change this to 'column' to stack the links */
        margin-bottom: 1em;
    }

    /* .dual-split {
        flex-direction: column;
    }

    .dual-split > .main-items {
        padding: 1em 1.5em;
    }
    */
    
    .splitColumn-100, .splitColumn-80, .splitColumn-60, .splitColumn-50, .splitColumn-40, .splitColumn-20 {
        width: 100%;    
    }
}