body {
    background-color: #f8f9fa;
    font-family: 'Mulish', sans-serif;
}

.main-content h1{
    margin: 26px 26px;
    font-size: 2.25em;
}

h2 {
    margin: 12px 0px;
    font-size: 20px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.main-items{
    /* border: 2px solid purple; */
    padding: 1em 1.5em;
    margin: 1em 1.5em;
    border-radius: 15px 15px 30px 5px;
    background-color: #dbd9d9;
    
    min-height: 100px;

    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.main-items hr {
    border-top: 1px dotted darkslategray;
}

.main-nav img {
    float: left;
    width: 100px;
    height: 100px;
}

.main-nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-image: linear-gradient(to left, #2c3e50, #4ca1af);
    color: white;
    border-radius: 3px;
    padding: 0em 1em;
    font-family: sans-serif;
}

.main-nav .cmp-header {
    width: 80%;
}

.main-nav .navOptions {
    list-style-type: none;
    padding: 0 15px;
    margin: 0;
    display: flex;
    flex: 3;
    height: 100%;
}

.main-nav .navItem {
    margin-right: 1em;
    font-size: 1.25em;

    padding: 0 15px;
    margin: 0;

    display: flex;

    font-size: 1.25em;
    width: 100px;
    align-items: center;
}

.main-nav .navSelected {
    background: rgb(60,113,129);
}

.main-nav a, a:link, a:visited {
    text-decoration: none;
    color: white;
}

#timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 400px;
    margin: 12px;
    padding: 12px;
    border-radius: 10px 10px 10px 10px;
    /* background-color: #dbd9d9; */
    color: darkslategray;
}

#clock {
    margin-left: 12px;
}

#stopTimer {
    border-left: 1px solid darkslategrey;
    cursor: pointer;
}

#stopTimer p {
    margin: 12px;
}

#timerTask {
    font-size: 1.25em;
    padding: 10px 0;
}

#runningClock {
    display: flex;
    align-items: baseline;
}

#startTime::before {
    content: "Start: ";
}

#endTime::before {
    content: "End: ";
}

#startTime::before, #endTime::before {
    font-size: .8em;
    font-weight: bold;
    margin-right: 12px;
}

#runningClock {
    margin: 0px 0px 10px 0px;
}

#runningClock .timerInterval {
    width: 60px;
    font-size: .75em;
    vertical-align: middle;
}

#runningClock .timerClock {
    width: 125px;
}

.splitColumn-100 {
    /* width: calc(100% - 3.5em); */
    width: 100%;
}

.splitColumn-80 {
    width: calc(80% - 6.0em);
}

.splitColumn-60 {
    width: calc(60% - 6.0em);
}

.splitColumn-50 {
    width: calc(50% - 6.0em);
}

.splitColumn-40 {
    width: calc(40% - 6.0em);
}

.splitColumn-33 {
    width: calc(33% - 6.0em);
}

.splitColumn-20 {
    width: calc(20% - 6.0em);
}

.add-task img {
    width: 24px;
    height: 24px;
    margin: 25px auto;
    cursor: pointer;
}

/* **********************
** Personal Goals
********************** */

.personal-goal {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 6px 0px;
}

.last-activity {
    font-size: .90em;
}

.la-title {
    font-weight: bold;
}

.days-ago {
    float: right;
}

.goal-title {
    font-size: 1.15em;
}

.last-activity:before {
    content:" ↳ ";
}

.last-activity{
    padding-left: 12px;
}

.goal-percentage {
    text-align: center;
    font-size: .75em;
}

.goal-dates {
    display: flex;
    justify-content: space-between;
}

.goal-progress {
    width: 100%;
    height: 20px;
    background-color: cadetblue;
    border-radius: 10px 10px 20px 5px;
}

.goal-complete {
    background-color: #2c3e50;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px 10px 15px 0px;
}

.goal-ss-date {
    font-size: .60em;    
    color: rgb(80, 78, 177);
}




/* Block Quote Markup */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.otro-blockquote{
    font-size: 1.1em;
    width:60%;
    margin:50px auto;
    font-family:Open Sans;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #78C0A8 ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
}

.otro-blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#78C0A8;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
}

.otro-blockquote::after{
    content: '';
}

.otro-blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
}


/* @media screen and (max-width: 1024px) {
    .main-nav {
        flex-direction: column;
    }

    .main-nav ul {
        flex-direction: row;
        margin-bottom: 1em;
    }

    .splitColumn-100, .splitColumn-80, .splitColumn-60 {
        width: 100%;    
    }

    .splitColumn-50, .splitColumn-40, .splitColumn-33, .splitColumn-20 {
        width: 50%;
    }
} */


@media screen and (max-width: 768px) {
    .main-nav {
        flex-direction: column;
    }

    .main-nav ul {
        flex-direction: row;
        margin-bottom: 1em;
    }

    .splitColumn-100, .splitColumn-80, .splitColumn-60, .splitColumn-50, .splitColumn-40, .splitColumn-33, .splitColumn-20 {
        width: 100%;    
    }
}